apiVersion: apps/v1
kind: Deployment
metadata:
  name: neo4j-deployment
  labels:
    app: neo4j
spec:
  replicas: 3
  selector:
    matchLabels:
      app: neo4j
  template:
    metadata:
      labels:
        app: neo4j
    spec:
      containers:
      - name: neo4j
        image: neo4j
        ports:
        - containerPort: 7474
        - containerPort: 7687

---
apiVersion: v1
kind: Service
metadata:
  name: neo4j-lb
spec:
  selector:
    app: neo4j
  ports:
    - port: 7474
      targetPort: 7474
    - port: 7687
      targetPort: 7687
  type: LoadBalancer