<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body class="container">

<header>

</header>

<main>
  <div class="jumbotron">
    <b>GCP resource visualizer with Neo4j successfuly deployed</p></b><p>
    <p>Access Neo4j Dashboard: <a href="http://<%= ip_address %>:7474/browser">http://<%= ip_address %>:7474/browser</a></p>
    <br>
    <p>Enter the following query to retrieve all resources in the selected GCP project</p>
    <p>Match (n) Return n</p>
  </div>
</main>

<footer>

</footer>

</body>
</html>