<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body class="container">

<header>

</header>

<main>
  <div class="jumbotron">
    <p>Neo4j GCP resource visualizer deployed</p>
    <p>Access Neo4j Dashboard: <a href="http://<%= ip_address %>:7474/browser">http://<%= ip_address %>:7474/browser</a></p>
  </div>
</main>

<footer>

</footer>

</body>
</html>